 .mob-menu__close {


     @extend %wlex-cent;
     position: absolute;
     top: 21px;
     right: 21px;
     padding: 0;
     width: 40px;
     height: 40px;
     background-color: transparent;
     outline: none;
     padding: 0;
 }

 .mob-menu {
     position: fixed;
     z-index: 999;
     top: 0;
     padding: 48px 40px;
     width: 100vw;
     height: 100vh;
     background-color: var(--background-white);
 }

 
//     display: flex;
//     flex-direction: column;
//     column-gap: 32px;}
   
    // flex-direction: column;
    // justify-content: space-between;
 
.mob-menu__link{
display: block;
@include font(500, 40, 1.175, 0.02);
 color: var(--first-gray);
&:hover,
    &:focus {
        color: var(--effect-color);
    }}
        .mob-menu__link--current{
        color: var(--effect-color);
        }

 .mob-menu__item:not(:last-child) {
     margin-bottom: 32px;
 }
 .mob-menu__list {
     margin-bottom: 306px;
 }
 .mob-menu__contact-link-tel{
    display: block;
    @include font(500, 34, 1.176, 0.02);
    color: var(--effect-color);
 }

.mob-menu__contact-link-mail{
    display: block;
@include font(500, 24, 1.167, 0.02);
 color: var(--gray-light);
}

.mob-menu__contact-item:last-child{
margin-top: 32px;
margin-bottom: 64px;
}

 .mob-menu__soc{
display: flex;

gap: 20px;
}

.mob-menu__close-icon {
    transition: fill var(--timing);

    .mob-menu__close:hover &,
    .mob-menu__close:focus & {
        fill: var(--effect-color);
    }
}



