.mob-menu__open {
  padding: 0;
  background-color: transparent;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mob-menu__btn-close {
  @extend %flex-cent;
  position: absolute;
  top: 21px;
  right: 25px;
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
  outline: none;
  padding: 0;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.mob-menu {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--background-white);
  overflow: auto;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.contact-soc__container {
  margin-top: auto;
}

.mob-menu__link {
  display: block;
  @include font(500, 40, 1.175, 0.02);
  color: var(--first-gray);
  transition: color var(--timing);
  &:focus {
    color: var(--effect-color);
  }
}
.mob-menu__link--current {
  color: var(--effect-color);
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__contact-link--tel {
  @include font(500, 34, 1.176, 0.02);
  color: var(--effect-color);
}

.mob-menu__contact-link--mail {
  @include font(500, 24, 1.167, 0.02);
  color: var(--gray-light);
}

.mob-menu__contact-item:last-child {
  margin-top: 32px;
  margin-bottom: 64px;
}

.mob-menu__soc {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.mob-menu__soc-link {
  @include font(500, 18, 1.222, 0.02);
  color: var(--effect-color);
}

.mob-menu__soc-item {
  position: relative;
}

.mob-menu__soc-item:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 40%;
  width: 22px;
  height: 0px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.2);
  rotate: -90deg;
}

.mob-menu__icon-close {
  transition: fill var(--timing);

  .mob-menu__btn-close:focus & {
    fill: var(--effect-color);
  }
}
