.gallery {
  @extend %section;
  overflow: hidden;
}

.gallery--container {
  @extend %container;
}
.gallery__titel {
  @extend %hidden;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 8px;
  row-gap: 15px;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.gallery__menu {
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 50px;
  }
}

.menu__btn {
  @include font(500, 16, 1.625);
  padding: 6px 22px;
  color: var(--first-gray);
  background: var(--background-light-gray);
  border-radius: 4px;
  transition: transform var(--timing), color var(--timing), background-color var(--timing),
    box-shadow var(--timing);

  &:hover,
  &:focus {
    color: var(--titel-white);
    background-color: var(--effect-color);
    box-shadow: var(--btn-portfolio-shadow);
    transform: scale(1.1);
  }
}
